/* Hoang-Yen Nguyen
02/26/2022
*/
@charset "utf-8";
/* import font Charm from google */
@import url(https://fonts.googleapis.com/css2?family=Charm);

/* set color for the browser window background based on hue, saturation and lightness */
html{
    background-color: hsl(139, 61%, 16%);
}
/* fit banner size to fit the page */
#logo img {
    max-width: 100%;
     height: auto;
     width: auto;
}
/* set the color font (based on mixture of red green blue colors), font, background color and font size for the body */
body{
    color: rgb(23, 58, 28);
    background-color: rgb(158, 196, 158);
    font-family: Charm, sans-serif;
    font-size: 15px;
}
/* set the navigations horizontally and divide into 4 equal blocks*/
body >header> nav.horizontalNavigation li {width:25%}
nav.horizontalNavigation ul {
    background-color: rgb(112, 177, 112);
    overflow: hidden;
}
li{
    float: left;
    display: block;
    text-align: center;
    font-size: 150%;
    align-content: 0%;
}
/* set the color for the links */
nav >ul > li > a:link {color: rgb(30, 139, 46);
                       display: block;}
/* set the color for the visited links  */
nav >ul > li >a:visited {color: rgb(70, 11, 97);
                       text-decoration: none;}
/* set the color and boldness when hovering over the links */
nav >ul > li >a:hover {color: rgb(23, 58, 28);
                       background-color: rgb(11, 117, 94);
                       font-weight: bolder;}
/* set the color for active links */
nav >ul > li >a:active {color: rgb(23, 58, 28);}
/* set color, beckground color, font, boldness, uppercase of the text for headings 1 and 2; 
font size is 200% of body text */
h1,h2 {
    color:rgb(112, 177, 112);
    background-color:rgb(11, 117, 94);
    font-family: Charm, sans-serif;
    font-weight: bold;
    font-size: 200%;
    text-transform: uppercase;
}
/* set color, background color, alignment and boldness of the text */
footer{
    color:rgb(47, 82, 47);
    background-color:rgb(112, 177, 112);
    text-align: center;
    font-weight: bold;
}
/* set lighter background color of hours and contact on Contact Us page */
table.hours{
    background-color: rgb(112, 177, 112);
}
table.contact{
    background-color: rgb(112, 177, 112);
}
/* set the font size, no margin, expand the table across the entire page and no borders for table of About Us page */
table.about_us{
    font-size: xx-large;
    margin: 0%;
    width: 100%;
    border-collapse: collapse;
}
/* customize header of the About Us page with left alignment, black background and lighter text */
table.about_us thead {
    background-color: rgb(10, 10, 10);
    color: rgb(112, 177, 112);
    text-align: left;
    table-layout: auto;
   
}
/* set the caption of About Us page to left alignment and font size to 70% */
table.about_us caption {
    color: rgb(10, 10, 10);
    text-align: left;
    font-size: 70%;
}

/* display the photos as blocks with black border, padding and background;
when hover over the photos, the border change to bigger and white in color  */
div.gallery {
    display: inline-block;
    background-color: black;
    border: 2px solid black;
    padding: 1em 1em;
    margin-left: 5%; 
    margin-bottom: 2em;   
}
div.gallery:hover {
    border: 3px solid rgb(250, 247, 247);
}
/* audio controls with black background and left margin of 25%; width is set at 50% */
audio{
    display: block;
    margin-left: 25%;
    width: 50%;
    background-color: black;
    margin-bottom: 2em;
}
/* video size is set at height and width of 300px with black background and 1em paddding. */
video{
    display: block;
    width: 300px;
    height: 300px;
    margin-left: 37%;
    margin-bottom: 2em;
    padding: 1em 1em;
    background-color:  black;
}
