/* Hoang-Yen Nguyen
02/26/2022
*/
@charset "utf-8";
/* import font Charm from google */
@import url(https://fonts.googleapis.com/css2?family=Charm);

/* set color for the browser window background based on hue, saturation and lightness */
html{
    background-color: hsl(139, 61%, 16%);
}
/* fit banner size to fit the page */
#logo img {
    max-width: 100%;
     height: auto;
     width: auto;
}
/* set the color font (based on mixture of red green blue colors), font, background color and font size for the body */
body{
    color: rgb(23, 58, 28);
    background-color: rgb(158, 196, 158);
    font-family: Charm, sans-serif;
    font-size: 15px;
}
/* set the navigations horizontally and divide into 4 equal blocks*/
body >header> nav.horizontalNavigation li {width:25%}
nav.horizontalNavigation ul {
    background-color: rgb(112, 177, 112);
    overflow: hidden;
}
li{
    float: left;
    display: block;
    text-align: center;
    font-size: 150%;
    align-content: 0%;
}
/* set the color for the links */
nav >ul > li > a:link {color: rgb(30, 139, 46);
                       display: block;}
/* set the color for the visited links  */
nav >ul > li >a:visited {color: rgb(70, 11, 97);
                       text-decoration: none;}
/* set the color and boldness when hovering over the links */
nav >ul > li >a:hover {color: rgb(23, 58, 28);
                       background-color: rgb(11, 117, 94);
                       font-weight: bolder;}
/* set the color for active links */
nav >ul > li >a:active {color: rgb(23, 58, 28);}
/* set color, beckground color, font, boldness, uppercase of the text for headings 1 and 2; 
font size is 200% of body text */
h1,h2 {
    color:rgb(112, 177, 112);
    background-color:rgb(11, 117, 94);
    font-family: Charm, sans-serif;
    font-weight: bold;
    font-size: 200%;
    text-transform: uppercase;
}
/* set color, background color, alignment and boldness of the text */
footer{
    color:rgb(47, 82, 47);
    background-color:rgb(112, 177, 112);
    text-align: center;
    font-weight: bold;
}
/* set the number of columns to 2; create a 5em gap between columns and a black double line in between; 
set the width dynamically to 50% and font size to 120%; set consistent with browser chrome and firefox */
@media only screen and (min-width: 650px) {
    article {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    
        -moz-column-gap: 5em;
        -webkit-column-gap: 5em;
        column-gap: 5em;
        
        -moz-column-width: 50%;
        -webkit-column-width: 50%;
        column-width: 50%;

        -moz-font-size: 120%;
        -webkit-font-size: 120%;
        font-size: 120%;

        -moz-column-rule:5px double black;
        -webkit-column-rule:5px double black;
        column-rule: 5px double black;           
}
/* span the heading across entire columns */
article h1 {
        -moz-column-span: all;
        -webkit-column-span: all;
        column-span: all;        
}
}